# Backend API URL
VITE_API_TIMEOUT=30000
# App Configuration
VITE_APP_NAME=CyberLabs
VITE_APP_URL=http://localhost:5174
VITE_API_URL=https://backend-test.cyber-labs.tech/api/v1
VITE_FRONTEND_URL=http://localhost:5174